
body
{
  background-color: rgb(40, 40, 40);
  color: white;

  font-family: "Quicksand", Arial;
}

h1
{
  text-align: center;
  color: blue;
  transform-origin: center center;
  animation: 0.4s linear infinite loop;
}

h2
{
  margin: 0;
  margin-bottom: 1em;
}

h1:hover
{
  color: red;
}

section
{
  margin-top: 2em;
}

ul.lines
{
  list-style: none;

  width: 80%;
  margin: auto;
  padding: 0;
}

li
{
  padding: 1.5em;
  margin: 3em 0;

  background-color: rgb(50,50,50);

  transition: box-shadow 0.4s;
}

li:hover
{
  box-shadow: 0 0 10px rgb(30,30,30);
}

.line-sign
{
  vertical-align: middle;
}

.line-sign::before
{
    display: inline-block;

    width: 1em;
    height: 1em;

    font-family: Arial;
    font-size: 1.5em;
    font-weight: bold;

    text-align: center;

    padding: 5px;
    padding-top: 2px;
    margin-right: 0.5em;

    border-radius: 10%;
}

.line-sign#line-6::before
{
  content: "6";

  color: black;
  background-color: rgb(255,200,0);
}

.line-sign#line-3::before
{
  content: "3";

  color: white;
  background-color: purple;
}

.separator
{
  border-left: solid 1px #707070;
  width: 0 !important;
}

.line-info
{
  display: flex;
  flex-direction: row;
}

.line-info div
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  
  text-align: center;
}

.hour
{
  display: block;

  height: 1em;

  margin: 0.25em 0;

  font-size: 4em;
  font-family: "Alarm Clock", Courier;
}

.hour::after
{
  display: block;

  content: "88:88:88";

  color: white;
  opacity: 0.1;

  transform: translateY(-100%);
}

@keyframes loop {
  from { color: blue;}
  25% { color: red;}
  50% { color: brown;}
  75% { color: green;}
  95% { color: yellow;}
  to { color: blue;}
}

@font-face {
  font-family: "Alarm Clock";
  src: url("../fonts/alarm_clock.ttf");
}
